main {
    padding: 1em 1em 5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55)), url(../images/dark_wall.png);
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 100px;
}

main.index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05)), url(../images/Dragonic.jpg);
    box-shadow: inset 0 -10px 70px rgba(0, 0, 0, 0.75);
    background-position: center;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.container.features {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.features-item {
    padding: 0 50px;
}

.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.auth {
    padding: 50px;
}

.auth label {
    display: none;
}

.section-image {
    text-align: center;
}

.section-image img {
    width: 8em;
}

#race-selector,
#calc-stats-button,
#calc-abilities-button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#calc-stats,
#calc-abilities {
    width: 300px;
    padding: 5px;
    margin: 10px;
}

.calculated-stats,
.calculated-abilities {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 60em) {

    .auth-container,
    .calculated-abilities,
    .calculated-stats {
        flex-direction: column;
    }
}